  <div class="branding"><a ng-href="//3dgb.cbi.pku.edu.cn/disease/index.html"></a></div>
  <ul>
<!--     <li>
      <a ng-show="currentUser" ng-href="#/meetings">Meetings
        <span ng-show="howManyMeetings" class="badge">
        {{howManyMeetings}}</span>
      </a>
    </li>
    <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li> -->
    <li><a ng-href="//3dgb.cbi.pku.edu.cn/disease/views/about.html">About</a></li>
    <li><a ng-href="//3dgb.cbi.pku.edu.cn/disease/views/tutorial.html">Tutorial</a></li>
    <li><a ng-href="//3dgb.cbi.pku.edu.cn/disease/index.html">Home</a></li>
  </ul>
